.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 50px 20px;
  background-color: #f7f7f7;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 50px;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 5px;
}

.form-control {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.required {
  color: red;
}

.btn-primary {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  transition: all 0.3s;
}

.btn-primary:hover,
.btn-primary:active {
  background-color: #0062cc;
  outline: none;
  box-shadow: none;
}
