 #sidebar {
            width: 25%;
            height: 100%;
            background-color: #dddddd;
            position: fixed;
            top: 220px;
            left: 0;
            overflow-x: hidden;
            padding-top: 60px;
        }
 .module-btn {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: none;
            outline: none;
            background-color: #cccccc;
            font-size: 18px;
            cursor: pointer;
        }
 .module-btn:hover {
            background-color: #bbb;
        }
 #content {
            position: absolute;
            top: 0;
            left: 25%;
            right: 0;
            bottom: 0;
            overflow: hidden;
            background: #ffffff;
        }
 #video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
